/* POPUP ANIMATION */

.popup{
opacity:0;
visibility:hidden;
transition:0.4s;
}

.popup.active{
opacity:1;
visibility:visible;
display:flex;
animation:popupFade 0.4s ease;
}

.popup-content{
transform:scale(0.8) translateY(40px);
opacity:0;
transition:0.4s;
}

.popup.active .popup-content{
transform:scale(1) translateY(0);
opacity:1;
animation:popupZoom 0.4s ease;
}

/* ANIMATIONS */

@keyframes popupFade{

from{
opacity:0;
}

to{
opacity:1;
}

}

@keyframes popupZoom{

from{
transform:scale(0.8) translateY(40px);
opacity:0;
}

to{
transform:scale(1) translateY(0);
opacity:1;
}

}